/* General Styles */
body {

    background-color: #f9f9f9;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #fff;
    padding: 20px;
    text-align: center;
}

header h1 {
    font-size: 2.5rem;
    color: #333;
    margin: 0;
}

.container {
    margin-top: 30px;
}

.carousel-section {
    max-width: 100%;
    text-align: center;
}

.property-image {
    width: 100%;
    height: 300px; /* Set a fixed height for the image */
    object-fit: cover; /* Crop the image to fit within the height and width */
}


.property-contact {
    width: 535px; /* Set a fixed width for the card */
    height: 250px; /* Set a fixed height for the card */
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden; /* Hide overflow to prevent image from stretching outside */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.property-contact h3 {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 15px;
}

.property-contact p {
    font-size: 1rem;
    line-height: 1.6;
}

.property-overview {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.property-overview h2 {
    color: #333;
    font-size: 1.75rem;
    margin-bottom: 10px;
}

.property-overview p {
    font-size: 1rem;
    line-height: 1.6;
}

.property-overview ul {
    list-style: none;
    padding-left: 0;
}

.property-overview li {
    font-size: 1rem;
    margin-bottom: 10px;
}

#mapContainer {
    margin-top: 20px;
    margin-bottom:20px;
    width: 100%;
    height: 400px;
    border-radius: 8px;
    overflow: hidden;
}

.btn-squircle {
    display: inline-block;
    padding: 12px 20px;
    font-size: 1rem;
    background-color: #6c4f32; /* Button background color */
    color: #fff; /* Button text color */
    text-align: center;
    border-radius: 30px;
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease; /* Add transition for color change */
}

.btn-squircle:hover {
    background-color: #a67c52; /* Slightly lighter background color on hover */
    color: #fff; /* White text color on hover */
    text-decoration: none;
}


a {
    color: inherit;
    text-decoration: none;
}

/* Additional Styling for Mobile Responsiveness */
@media (max-width: 768px) {
    .container {
        padding-left: 15px;
        padding-right: 15px;
    }

    .property-overview h2 {
        font-size: 1.5rem;
    }

    .property-overview ul li {
        font-size: 0.9rem;
    }

    .property-contact h3 {
        font-size: 1.25rem;
    }

    .property-image {
        max-width: 100%;
        height: auto;
    }

    .btn-squircle {
        width: 100%;
        text-align: center;
    }
}

.button-group a {
    margin-right: 10px; /* Adjusts space between buttons */
}
