{% load static %}
<header>
    <div class="logo">
        <a href="{% url 'adminapp:homepage' %}">
            <img src="{% static 'images/logo.png' %}" alt="PS6 Logo">
        </a>
    </div>
    <nav>
        <ul>
            <li><a href="#home">Home</a></li>
            <li><a href="#properties">Properties</a></li>
            <li><a href="#contact">Contact</a></li>
            <li><a href="#upload-property">Upload Property</a></li> <!-- Changed space to hyphen -->
        </ul>
    </nav>
    <div class="auth-buttons">
        {% if user.is_authenticated %}
            <span class="welcome-message">Welcome {{ user.username }}</span>
            <form action="{% url 'adminapp:logout_view' %}" method="POST" style="display:inline;">
                {% csrf_token %}
                <button type="submit" class="logout-btn">Logout</button>
            </form>
        {% else %}
            <a href="{% url 'adminapp:login_or_register' %}" class="login-btn">Login/Register</a>
        {% endif %}
    </div>
</header>
