/* edit_property.css */

body {
    background-color: #f7f7e3;  /* Lightened version of the card background */
    margin: 0;  /* Remove default margin */
    font-family: 'Roboto', sans-serif;  /* Ensure consistent font across the page */
}

.upload-property-form {
    max-width: 1200px;  /* Adjust based on your design */
    margin: 40px auto;
    padding: 20px;
    background-color: #f5f5dc;  /* Original card background color */
    border: 1px solid #d5d5d5;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family: 'Georgia', serif;
}

.form-container {
    display: flex;  /* Create a flex container */
    justify-content: space-between;  /* Space between columns */
}

.left-column,
.right-column {
    flex: 1;  /* Each column takes equal width */
    margin-right: 20px;  /* Space between columns */
}

.left-column:last-child,
.right-column:last-child {
    margin-right: 0;  /* Remove margin for the last column */
}

.upload-property-form label {
    display: block;
    margin-bottom: 10px;
    font-size: 18px;
}

.upload-property-form input,
.upload-property-form select,
.upload-property-form textarea {
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #d5d5d5;
    border-radius: 5px;
    font-size: 18px;
}

.upload-property-form button[type="submit"] {
    width: 100%;
    height: 50px;
    background-color: #cba987;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.upload-property-form button[type="submit"]:hover {
    background-color: #b38f5a;
}

/* Error message styling (optional) */
.upload-property-form .error {
    color: #f00;
    font-size: 14px;
    margin-bottom: 10px;
}

.upload-property-form .error li {
    list-style: disc;
}

.messages {
    margin: 20px 0;
    padding: 10px;
    border: 1px solid #d4edda; /* Light green border for success */
    background-color: #dff0d8; /* Light green background */
    color: #155724; /* Dark green text */
    border-radius: 5px; /* Rounded corners */
}
