
/* Card Styling */
.card {
    transition: transform 0.2s;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Responsive Heights */
@media (min-width: 768px) {
  .card img {
    height: 250px;
  }
}

@media (min-width: 992px) {
  .card img {
    height: 300px;
  }
}

/* Hover Effect */
.card:hover {
    transform: scale(1.02);
}

.card img {
    width: 100%; /* Ensure the image takes the full width of the card */
    height: 75%; /* Set the height to 75% of the card's height */
    object-fit: cover; /* Cover the entire area without stretching or distorting */
    object-position: center; /* Center the image within the container */
}
}

/* Card Body Styling */
.card-body {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem; /* Adjusted for better spacing */
}

/* Card Title and Description Styling */
.card-title {
    text-align: center;
    margin: 0.5rem 0;
    font-weight: bold;
}

.card-text {
    text-align: justify; /* Justify text for better readability in smaller cards */
    line-height: 1.5; /* Add some line spacing for better text flow */
}

/* Button Styling */
.btn-primary {
    background-color: #3399cc; /* New primary color */
    border-color: #3399cc;
}

.btn-primary:hover {
    background-color: #2f8ba8;
}

/* Footer Styling */
footer {
    text-align: center;
    padding: 1rem;
    background-color: #002244; /* Darker color for footer */
    color: white;
}